.containerCard {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    background-color: darkslateblue;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding-top: 150px;
}



h2 {
    margin: 10px 0;
}