.navbar {
  position: absolute;
  top: 20px;
  left: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 90%;
  height: 100px;
  background-color: rgb(0, 0, 0, 0.6);
}

.btnNav {
    display: flex;
    background-color: #FF756D;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.btnNav:hover {
    cursor: pointer;
    background-color: rgb(255, 117, 109, 0.8);
    box-shadow: 0px 0px 4px 2px #FF756D;
  }
