.containSearch {
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 15px;
}

.inputSearch {
  border-radius: 5px;
  padding: 10px;
  border: none;
  /* border: 1px solid rgb(170, 6, 6); */
  background-color: black;
  color: white;
  margin: 0;
}

.btnSearch{
  width: 100px;
  padding: 10px;
  font-size: 15px;
  background-color: black;
  color: #6019c5;
  border:1px solid #6019c5;
  border-radius: 5px;
  cursor: pointer;
}

.btnSearch:hover {
  
  box-shadow: 0 0 10px #6019c5;
 
}